{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
<div class="container">
    {{form(form)}}
    </div>
<a href="/home" class="btn btn-primary">Return</a>
{% endblock %}
