h5:hover 
    text-decoration-line : underline

.card 
    margin : 15px
    background : linear-gradient(90deg,rgb(6, 215, 252),#0051ff)
    border-radius : 15px

img
    border-radius : 15px

a:hover
    font-size : 30px


.form-control
    padding : 8px
    border : 1px solid rgb(241, 15, 15)
    border-radius : 5px
    width : 200px
    box-shadow : 1px 1px 2px rgb(236, 238, 96) inset

.form-control:hover
    border : 2px solid rgb(255, 145, 0)

.head
    align-content : center

.link
    margin : 100px
    text-align : center

.register
    align-items : center
    margin-left : 100vh 

.titreR
    margin-left : 100vh

.btn
    background-color : orange

